$blue: #1d9bf0;
$blue2: #1989d4;
$blue3: rgb(29, 155, 240);

$green: rgb(0, 186, 124);

$red: rgb(249, 24, 128);

$swiper:rgb(15, 20, 25, 0.75);


$border: rgb(47, 51, 54);

$hover: rgba(231, 233, 234, 0.1);
$light-hover: rgba(255, 255, 255, 0.03);
$lightblue-hover: rgb(29, 155, 240, 0.1);
$blue-hover: rgb(26, 140, 216);
$green-hover: rgb(0, 186, 124, 0.1);
$red-hover: rgb(249, 24, 128, 0.1);
$swiper-hover:rgb(39, 44, 48, 0.75);

$lightblue-active: rgb(29, 155, 240, 0.2);
$blue-active: rgb(23, 124, 192);
$green-active: rgb(0, 186, 124, 0.2);
$red-active: rgb(249, 24, 128, 0.2);

$gray-text: rgb(113, 118, 123);
$bright-text: rgb(231, 233, 234);

$gray-input: rgb(32, 35, 39);